$zoomie_teal: #227b7e;

.main_side_container {
  margin: 3%;
  height: 90%;
  width: auto;
  display: flex;
  flex-direction: column;
  text-decoration: none;


  .nav_item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5%;
    margin: 1%;
    width: 10vw;
    img {
      height: 4vh;
      width: auto;
      margin-right: 7%;
    }
    h2 {
      color: #227b7e;
      text-shadow: 2px 2px 4px #bbbbbb54;
      margin-left: 1.5vw;
      font-size: 1.1em;
      padding: 2%;
    }
    a:link,
    a:visited,
    a:active,
    a:focus {
      text-decoration: none;
      color: black;
    }
  }
}
