.review_main {
  height: 90vh;
  background: lightseagreen;
  display: flex;

  // .left_nav_container{
  //   width: 20vw;
  //   background: lightblue;
  // }

  .right_container {
    width: 80vw;
  }
}
.stripe_container {
  background: lightgoldenrodyellow;
  border: 1px dashed salmon;
}
