$zoomie-teal: rgb(79, 173, 177);
$zoomie_grey: rgb(119, 111, 111);

.landing_gif {
  height: 30vh;
  background: lightgoldenrodyellow;
  border: 1.5px dashed red;
}

.landing_container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
