.scan_main {
  margin: auto;
  height: 90vh;
  width: 50%;
  background: lightseagreen;
  display: flex;

  h1,
  p,
  h3 {
    font-size: 2rem;
  }

  .left_container {
    min-width: 15vw;
  }

  .scan_center {
    min-height: 90vh;
    width: 85%;
    background: teal;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 0 0 0;

    .scan_button {
      margin: auto;
      // width: 5;
    }
  }

  .img_box {
    height: 35vh;
    width: auto;
    border-radius: 10px;
  }

  #modal_two {
    background-color: red;
    height: 30%;
    width: 30%;
  }
}
