.scan_main {
  height: 90vh;
  background: lightseagreen;
  display: flex;

  h1,
  p,
  h3 {
    font-size: 2rem;
  }

  .left_nav_container {
    min-width: 15vw;
  }

  .right_container {
    width: 80vw;
    background: teal;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 0 0 0;

    .scan_button {
      margin: auto;
      // width: 5;
    }
    .temp_container {
      height: 50%;
      background: lightgoldenrodyellow;
      border: 1.5px dashed purple;
    }
  }

  .img_box {
    height: 35vh;
    width: auto;
    border-radius: 10px;
  }

  // .modal_box{
  //   .top_name{
  //     display: flex;
  //   }
  // }
  .styles_modal__gNwvD {
    height: 50vh;
    width: 50vw;
  }
}
