$zoomie_teal: #57ccd1;
$zoomie_yellowtail: "Yellowtail", cursive;

.Navbar_container {
  height: 10vh;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  background: darkslategrey;
  

  .nav_left {
    p{
    font-family: $zoomie_yellowtail;
    color: $zoomie_teal;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
    
    }
  }

  .nav_right {
    width: auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
  }
}
