.dash_main {
  min-height: 90vh;
  display: flex;
  background: #afeeee00;

  .empty_center {
    min-width: 2%;
    min-height: 80%;
  }

  .right_container {
    min-height: 80%;
    min-width: auto;
    padding: 1%;
    display: flex;
    border-radius: 10px;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 55%;
      border-radius: 1% 0 0 1%;
      h2 {
        color: #69bec4;
        text-shadow: 1px 1px 1px #20114b;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 3em;
        display: flex;
        justify-content: center;
      }
      .center_boxes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        #arrow {
          height: 5vh;
        }
        h3 {
          font-size: 1.2em;
          color: rgba(120, 113, 113, 0.838);
        }
        img {
          height: 10vh;
        }
      }

      .bottom_button {
        display: flex;
        justify-content: space-evenly;
        

        #dash_button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          border: 1px solid paleturquoise;
          background: paleturquoise;
          width: 7vw;
          color: rgba(72, 65, 65, 0.81);
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);

          img {
            height: 5vh;
            padding: 1%;
            margin: 2%;
          }
        }
      }
    }
    .right_side {
      background-image: url("https://images.unsplash.com/photo-1529424601215-d2a3daf193ff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e37184100aedc95759f671a3a69cd756&auto=format&fit=crop&w=634&q=80");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.92;
      width: 33vw;
      text-align: center;
      padding-top: 44%;
      border-radius: 0 1% 1% 0;
    }
  }
}
