.dash_main {
  height: 100vh;
  display: Flex;

  .product_container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    .product_left {
      height: 50vh;
      width: 40vw;
      background: orange;
      border: 1.3px dashed red;
      color: white;
    }
    .product_right {
      height: 50vh;
      width: 40vw;
      background: blue;
      border: 1.3px dashed red;
      color: white;
    }
  }
}
