.dash_main {
  // background: lightcyan;
  height: 90vh;
  // border: 1.8px dashed red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;

  .left_container {
    height: 88vh;
    width: auto;
    border-radius: 25px;
  }

  .right_container {
    height: 80vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    .top_container {
      border-radius: 25px;
      background: #8a868a;
      height: 45%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .dl_top {
        height: 50%;
        background: rgb(118, 118, 213);
      }

      .dl_bottom {
        height: 5vh;
        background: rgb(211, 219, 123);

        .button_box {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;
        }
      }
    }

    .bottom_container {
      border-radius: 25px;
      background: #8a868a;
      height: 45%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .dl_top {
        height: 50%;
        background: rgb(118, 118, 213);
      }

      .dl_bottom {
        height: 5vh;
        background: rgb(211, 219, 123);

        .button_box {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}
