.dash_main {
  height: 100vh;
  display: Flex;

  .product_container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    .product_left {
      height: auto;
      width: auto;
      background: orange;
      border: 1.3px dashed red;
      // color: white;
    }
    .product_right {
      height: auto;
      width: auto;
      background: blue;
      border: 1.3px dashed red;
      // color: white;
    }
  }
}
