.admin_main_container {
  background: teal;
  height: 90vh;
  width: auto;
  display: flex;
  margin: 1%;

  .pending_container {
    margin: auto;
    height: 95%;
    width: 95%;
    background: lightseagreen;
    overflow: scroll;

    .user_card {
      display: flex;
      justify-content: space-around;
      padding: 1%;

      h1 {
        transition: 0.3s;
        font-size: 1.4em;
        margin: 1%;
      }
      h1:hover {
        font-size: 1.5em;
        color: #f3eef5;
        cursor: pointer;
      }
    }
  }
  .admin_left {
    min-width: 10%;
    min-height: 100%;
    background: #696666;
  }

  .admin_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: rgb(36, 150, 144);
    border: 1.2px dashed black;
    h1 {
      font-size: 1.5em;
    }
  }
  // .pending_container
  // .completed_container
  // .charts_container
}

.styles_modal__gNwvD {
  min-width: 30vw;
  min-height: auto;
  position: relative;
  padding: 1.2rem;
  border-radius: 10px;
  background: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: auto;

  h1 {
    font-size: 1.3em;
  }
  .btn_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  button {
    font-size: 1em;
    background: rgb(32, 101, 113);
    color: white;
    border-radius: 10px;
  }
  textarea {
    min-width: 100%;
    min-height: 15vh;
    background: rgb(228, 243, 249);
    font-size: 0.9em;
  }
}
